/articles
/cifar10_data
/dog.jpg
/fourier_pool_results.csv
/girl.jpg
/girl_hp_05.png
/girl_hp_085.png
/girl_mp_2.png
/girl_mp_2_1.png
/girl_sp_05.png
/girl_sp_085.png
/hp_05.png
/hp_085.png
/in.bmp
/logs
/mp_2.png
/mp_2_1.png
/mp_4_1.png
/pooling_methods.ipynb
/spectral_cnn-master
/sp_05.png
/sp_085.png
/__pycache__